import { cn } from "@/utils";
import React from "react";

type {{ pascalCase name }}Props = {
  className?: string
}

const {{ pascalCase name }} = ({ className }: {{ pascalCase name }}Props) => (
  <div className={cn("", className)}>Text goes here.</div>
)

export default {{ pascalCase name }}
